<template name="petsInLocation">
  {{#contentFor "headerTitle"}}
    <h1 class="title">Lista de mascotas perdidas</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      {{#ionList}}
        {{#each pets}}
          {{#ionItem path="petShow" buttonRight=true class="item-icon-right"}}
            <i class="flaticon-{{type}}{{gender}}"></i>
            {{location}}
            {{> ionIcon icon="ios-arrow-forward" class="positive"}}
          {{/ionItem}}
        {{/each}}
      {{/ionList}}
    {{/ionContent}}
  {{/ionView}}
</template>