<template name="petsList">
  {{#contentFor "headerTitle"}}
    <h1 class="title">Lista de mascotas perdidas</h1>
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    <button class="button button-clear" data-ion-modal="_petNew">{{> ionIcon icon="ios-plus-empty"}}</button>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      {{#ionList}}
        {{#each pets}}
          {{#ionItem path="petShow" buttonRight=true class="item-icon-right"}}
            <i class="flaticon-{{type}}{{gender}}"></i>
            {{location.city}}
            {{> ionIcon icon="ios-arrow-forward" class="dark"}}
          {{/ionItem}}
        {{/each}}
      {{/ionList}}
    {{/ionContent}}
  {{/ionView}}
</template>